<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="connectionString" value="null; Set to a real MS Sql Server one and don't forget to initialize pointed DB"/>
    <add key="bindings" value="http://*:555/;http://test:555/"/>
  </appSettings>
</configuration>
